{% load static %}
<div id="hero">
    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
        <div class="item"
             style="background-image: url({% static 'baner/baner1.jpg' %});">
            <div class="container-fluid">
                {#                                    <img src="{% static '' %}" alt="...">#}
                <div class="caption bg-color vertical-center text-left">
                    <div class="slider-header fadeInDown-1">
                        Top Brands
                    </div>
                    <div class="big-text fadeInDown-1">
                        New Collections
                    </div>
                    <div class="excerpt fadeInDown-2 hidden-xs">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>
                    <div class="button-holder fadeInDown-3">
                        <a href="" class="btn-lg btn btn-uppercase btn-primary shop-now-button">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({% static 'baner/baner3.jpg' %});">
            <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left">
                    <div class="slider-header fadeInDown-1">
                        Spring 2016
                    </div>
                    <div class="big-text fadeInDown-1">
                        Women <span class="highlight">Fashion</span>
                    </div>
                    <div class="excerpt fadeInDown-2 hidden-xs">
                        <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</span>
                    </div>
                    <div class="button-holder fadeInDown-3">
                        <a href="" class="btn-lg btn btn-uppercase btn-primary shop-now-button">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url({% static 'baner/baner4.jpg' %});">
            <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left">
                    <div class="slider-header fadeInDown-1">
                        Spring 2016
                    </div>
                    <div class="big-text fadeInDown-1">
                        Women <span class="highlight">Fashion</span>
                    </div>
                    <div class="excerpt fadeInDown-2 hidden-xs">
                        <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</span>
                    </div>
                    <div class="button-holder fadeInDown-3">
                        <a href="" class="btn-lg btn btn-uppercase btn-primary shop-now-button">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= БЛОК РЕКЛАМНОГО БАНЕРА: END ========================================= -->

<!-- ============================================== ИНФОРМАЦИЯ ПОД БАННЕРОМ ============================================== -->
<div class="info-boxes wow fadeInUp">
    <div class="info-boxes-inner">
        <div class="row">
            <div class="col-md-6 col-sm-4 col-lg-4">
                <div class="info-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="info-box-heading green">Возвращаем деньги</h4>
                        </div>
                    </div>
                    <h6 class="text">Возвращаем деньги в течении 30 дней</h6>
                </div>
            </div>
            <!-- .col -->

            <div class="hidden-md col-sm-4 col-lg-4">
                <div class="info-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="info-box-heading green">Бесплатная достака</h4>
                        </div>
                    </div>
                    <h6 class="text">Бесплатная доставка заказа от 1500 рублей</h6>
                </div>
            </div>
            <!-- .col -->

            <div class="col-md-6 col-sm-4 col-lg-4">
                <div class="info-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="info-box-heading green">Специальные предложения</h4>
                        </div>
                    </div>
                    <h6 class="text">За покупку от 3000 рублей скидка 5%</h6>
                </div>
            </div>
            <!-- .col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.info-boxes-inner -->

</div>