{% load static %}
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
        <div class="more-info-tab clearfix ">
            <h3 class="new-product-title pull-left">Многим нравится</h3>
            <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
                <li class="active"><a data-transition-type="backSlide" href="#all"
                                      data-toggle="tab">Все</a></li>
                <li><a data-transition-type="backSlide" href="#smartphone" data-toggle="tab">Категория 1</a>
                </li>
                <li><a data-transition-type="backSlide" href="#laptop" data-toggle="tab">Категория 2</a>
                </li>
                <li><a data-transition-type="backSlide" href="#apple"
                       data-toggle="tab">Категория 3</a></li>
            </ul>
            <!-- /.nav-tabs -->
        </div>
        <div class="tab-content outer-top-xs">
            <div class="tab-pane in active" id="all">
                <div class="product-slider">
                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="3">
{#   ================================================== ВЫВОДИТСЯ ПОД СПИСКОМ ВСЕ ==================================================              #}
                            {% for object in many_people_like_objects %}
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="{{ object.get_absolute_url }}">
                                                <img src="{{ object.image_1.url }}" width="304px" height="304px" alt="">
                                            </a>
                                        </div>
                                        <!-- /.image -->

                                        <div class="tag {{ object.status }}"><span>{{ object.status }}</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                                        </h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>

                                        <div class="product-price">
                                            {% if object.sale_price %}
                                                <span class="price"> {{ object.sale_price }} </span>
                                                <span class="price-before-discount">{{ object.current_price  }}</span>
                                            {% else %}
                                                <span class="price"> {{ object.current_price }} </span>
                                            {% endif %}
                                        </div>

                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Добавить в корзину">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn" type="button">В корзину </button>
                                                </li>
                                                <li class="lnk wishlist"><a
                                                        data-toggle="tooltip"
                                                        class="add-to-cart" href=""
                                                        title="Добавить в избранное"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a data-toggle="tooltip"
                                                                   class="add-to-cart"
                                                                   href=""
                                                                   title="Сравнить"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->
                        {% endfor %}
                            {% for object in many_people_like_objects %}
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="{{ object.get_absolute_url }}">
                                                <img src="{{ object.image_1.url }}" width="304px" height="304px" alt="">
                                            </a>
                                        </div>
                                        <!-- /.image -->

                                        <div class="tag {{ object.status }}"><span>{{ object.status }}</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                                        </h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>

                                        <div class="product-price">
                                            {% if object.sale_price %}
                                                <span class="price"> {{ object.sale_price }} </span>
                                                <span class="price-before-discount">{{ object.current_price  }}</span>
                                            {% else %}
                                                <span class="price"> {{ object.current_price }} </span>
                                            {% endif %}
                                        </div>

                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Добавить в корзину">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn" type="button">В корзину </button>
                                                </li>
                                                <li class="lnk wishlist"><a
                                                        data-toggle="tooltip"
                                                        class="add-to-cart" href=""
                                                        title="Добавить в избранное"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a data-toggle="tooltip"
                                                                   class="add-to-cart"
                                                                   href=""
                                                                   title="Сравнить"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->
                        {% endfor %}
{#   ================================================== ВЫВОДИТСЯ ПОД СПИСКОМ ВСЕ ==================================================              #}

                    </div>
                    <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="smartphone">
                <div class="product-slider">
                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
{#  ==================================================== ВЫВОДИТСЯ ПОД СПИСКОМ КАТЕГОРИЯ ============================================== 1#}
                        {% for object in many_people_like_objects  %}
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="{{ object.get_absolute_url }}"><img
                                                src="{{ object.image_1.url }}"
                                                alt="" width="175px;" height="175px;"></a></div>
                                        <!-- /.image -->

                                        <div class="tag {{ object.status }}"><span>{{ object.status }}</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">{{ object.name }}</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price">
                                            {% if object.sale_price %}
                                                <span class="price"> {{ object.sale_price }} </span>
                                                <span class="price-before-discount">{{ object.current_price  }}</span>
                                            {% else %}
                                                <span class="price"> {{ object.current_price }} </span>
                                            {% endif %}
                                        </div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon" data-toggle="dropdown" type="button" title="В корзину">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn" type="button">В корзину </button>
                                                </li>
                                                <li class="lnk wishlist">
                                                    <a class="add-to-cart" href="detail.html" title="В избранное">
                                                        <i class="icon fa fa-heart"></i>
                                                    </a></li>
                                                <li class="lnk">
                                                    <a class="add-to-cart" href="detail.html" title="Сравнить">
                                                        <i class="fa fa-signal" aria-hidden="true"></i>
                                                    </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->
                        {% endfor %}
{#                        <div class="item item-carousel">#}
{#                            <div class="products">#}
{#                                <div class="product">#}
{#                                    <div class="product-image">#}
{#                                        <div class="image"><a href="detail.html"><img#}
{#                                                src="{% static 'assets/images/products/p6.jpg' %}"#}
{#                                                alt=""></a></div>#}
{#                                        <!-- /.image -->#}
{##}
{#                                        <div class="tag new"><span>new</span></div>#}
{#                                    </div>#}
{#                                    <!-- /.product-image -->#}
{##}
{#                                    <div class="product-info text-left">#}
{#                                        <h3 class="name"><a href="detail.html">Floral Print#}
{#                                            Buttoned</a></h3>#}
{#                                        <div class="rating rateit-small"></div>#}
{#                                        <div class="description"></div>#}
{#                                        <div class="product-price"><span#}
{#                                                class="price"> $450.99 </span> <span#}
{#                                                class="price-before-discount">$ 800</span></div>#}
{#                                        <!-- /.product-price -->#}
{##}
{#                                    </div>#}
{#                                    <!-- /.product-info -->#}
{#                                    <div class="cart clearfix animate-effect">#}
{#                                        <div class="action">#}
{#                                            <ul class="list-unstyled">#}
{#                                                <li class="add-cart-button btn-group">#}
{#                                                    <button class="btn btn-primary icon"#}
{#                                                            data-toggle="dropdown"#}
{#                                                            type="button"><i#}
{#                                                            class="fa fa-shopping-cart"></i>#}
{#                                                    </button>#}
{#                                                    <button class="btn btn-primary cart-btn"#}
{#                                                            type="button">В корзину#}
{#                                                    </button>#}
{#                                                </li>#}
{#                                                <li class="lnk wishlist"><a class="add-to-cart"#}
{#                                                                            href="detail.html"#}
{#                                                                            title="Wishlist"> <i#}
{#                                                        class="icon fa fa-heart"></i> </a></li>#}
{#                                                <li class="lnk"><a class="add-to-cart"#}
{#                                                                   href="detail.html"#}
{#                                                                   title="Compare"> <i#}
{#                                                        class="fa fa-signal"#}
{#                                                        aria-hidden="true"></i> </a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                        <!-- /.action -->#}
{#                                    </div>#}
{#                                    <!-- /.cart -->#}
{#                                </div>#}
{#                                <!-- /.product -->#}
{##}
{#                            </div>#}
{#                            <!-- /.products -->#}
{#                        </div>#}
{#                        <!-- /.item -->#}
{##}
{#                        <div class="item item-carousel">#}
{#                            <div class="products">#}
{#                                <div class="product">#}
{#                                    <div class="product-image">#}
{#                                        <div class="image"><a href="detail.html"><img#}
{#                                                src="{% static 'assets/images/products/p7.jpg' %}"#}
{#                                                alt=""></a></div>#}
{#                                        <!-- /.image -->#}
{##}
{#                                        <div class="tag sale"><span>sale</span></div>#}
{#                                    </div>#}
{#                                    <!-- /.product-image -->#}
{##}
{#                                    <div class="product-info text-left">#}
{#                                        <h3 class="name"><a href="detail.html">Floral Print#}
{#                                            Buttoned</a></h3>#}
{#                                        <div class="rating rateit-small"></div>#}
{#                                        <div class="description"></div>#}
{#                                        <div class="product-price"><span#}
{#                                                class="price"> $450.99 </span> <span#}
{#                                                class="price-before-discount">$ 800</span></div>#}
{#                                        <!-- /.product-price -->#}
{##}
{#                                    </div>#}
{#                                    <!-- /.product-info -->#}
{#                                    <div class="cart clearfix animate-effect">#}
{#                                        <div class="action">#}
{#                                            <ul class="list-unstyled">#}
{#                                                <li class="add-cart-button btn-group">#}
{#                                                    <button class="btn btn-primary icon"#}
{#                                                            data-toggle="dropdown"#}
{#                                                            type="button"><i#}
{#                                                            class="fa fa-shopping-cart"></i>#}
{#                                                    </button>#}
{#                                                    <button class="btn btn-primary cart-btn"#}
{#                                                            type="button">В корзину#}
{#                                                    </button>#}
{#                                                </li>#}
{#                                                <li class="lnk wishlist"><a class="add-to-cart"#}
{#                                                                            href="detail.html"#}
{#                                                                            title="Wishlist"> <i#}
{#                                                        class="icon fa fa-heart"></i> </a></li>#}
{#                                                <li class="lnk"><a class="add-to-cart"#}
{#                                                                   href="detail.html"#}
{#                                                                   title="Compare"> <i#}
{#                                                        class="fa fa-signal"#}
{#                                                        aria-hidden="true"></i> </a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                        <!-- /.action -->#}
{#                                    </div>#}
{#                                    <!-- /.cart -->#}
{#                                </div>#}
{#                                <!-- /.product -->#}
{##}
{#                            </div>#}
{#                            <!-- /.products -->#}
{#                        </div>#}
{#                        <!-- /.item -->#}
{##}
{#                        <div class="item item-carousel">#}
{#                            <div class="products">#}
{#                                <div class="product">#}
{#                                    <div class="product-image">#}
{#                                        <div class="image"><a href="detail.html"><img#}
{#                                                src="{% static 'assets/images/products/p8.jpg' %}"#}
{#                                                alt=""></a></div>#}
{#                                        <!-- /.image -->#}
{##}
{#                                        <div class="tag new"><span>new</span></div>#}
{#                                    </div>#}
{#                                    <!-- /.product-image -->#}
{##}
{#                                    <div class="product-info text-left">#}
{#                                        <h3 class="name"><a href="detail.html">Floral Print#}
{#                                            Buttoned</a></h3>#}
{#                                        <div class="rating rateit-small"></div>#}
{#                                        <div class="description"></div>#}
{#                                        <div class="product-price"><span#}
{#                                                class="price"> $450.99 </span> <span#}
{#                                                class="price-before-discount">$ 800</span></div>#}
{#                                        <!-- /.product-price -->#}
{##}
{#                                    </div>#}
{#                                    <!-- /.product-info -->#}
{#                                    <div class="cart clearfix animate-effect">#}
{#                                        <div class="action">#}
{#                                            <ul class="list-unstyled">#}
{#                                                <li class="add-cart-button btn-group">#}
{#                                                    <button class="btn btn-primary icon"#}
{#                                                            data-toggle="dropdown"#}
{#                                                            type="button"><i#}
{#                                                            class="fa fa-shopping-cart"></i>#}
{#                                                    </button>#}
{#                                                    <button class="btn btn-primary cart-btn"#}
{#                                                            type="button">В корзину#}
{#                                                    </button>#}
{#                                                </li>#}
{#                                                <li class="lnk wishlist"><a class="add-to-cart"#}
{#                                                                            href="detail.html"#}
{#                                                                            title="Wishlist"> <i#}
{#                                                        class="icon fa fa-heart"></i> </a></li>#}
{#                                                <li class="lnk"><a class="add-to-cart"#}
{#                                                                   href="detail.html"#}
{#                                                                   title="Compare"> <i#}
{#                                                        class="fa fa-signal"#}
{#                                                        aria-hidden="true"></i> </a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                        <!-- /.action -->#}
{#                                    </div>#}
{#                                    <!-- /.cart -->#}
{#                                </div>#}
{#                                <!-- /.product -->#}
{##}
{#                            </div>#}
{#                            <!-- /.products -->#}
{#                        </div>#}
{#                        <!-- /.item -->#}
{##}
{#                        <div class="item item-carousel">#}
{#                            <div class="products">#}
{#                                <div class="product">#}
{#                                    <div class="product-image">#}
{#                                        <div class="image"><a href="detail.html"><img#}
{#                                                src="{% static 'assets/images/products/p9.jpg' %}"#}
{#                                                alt=""></a></div>#}
{#                                        <!-- /.image -->#}
{##}
{#                                        <div class="tag hot"><span>hot</span></div>#}
{#                                    </div>#}
{#                                    <!-- /.product-image -->#}
{##}
{#                                    <div class="product-info text-left">#}
{#                                        <h3 class="name"><a href="detail.html">Floral Print#}
{#                                            Buttoned</a></h3>#}
{#                                        <div class="rating rateit-small"></div>#}
{#                                        <div class="description"></div>#}
{#                                        <div class="product-price"><span#}
{#                                                class="price"> $450.99 </span> <span#}
{#                                                class="price-before-discount">$ 800</span></div>#}
{#                                        <!-- /.product-price -->#}
{##}
{#                                    </div>#}
{#                                    <!-- /.product-info -->#}
{#                                    <div class="cart clearfix animate-effect">#}
{#                                        <div class="action">#}
{#                                            <ul class="list-unstyled">#}
{#                                                <li class="add-cart-button btn-group">#}
{#                                                    <button class="btn btn-primary icon"#}
{#                                                            data-toggle="dropdown"#}
{#                                                            type="button"><i#}
{#                                                            class="fa fa-shopping-cart"></i>#}
{#                                                    </button>#}
{#                                                    <button class="btn btn-primary cart-btn"#}
{#                                                            type="button">В корзину#}
{#                                                    </button>#}
{#                                                </li>#}
{#                                                <li class="lnk wishlist"><a class="add-to-cart"#}
{#                                                                            href="detail.html"#}
{#                                                                            title="Wishlist"> <i#}
{#                                                        class="icon fa fa-heart"></i> </a></li>#}
{#                                                <li class="lnk"><a class="add-to-cart"#}
{#                                                                   href="detail.html"#}
{#                                                                   title="Compare"> <i#}
{#                                                        class="fa fa-signal"#}
{#                                                        aria-hidden="true"></i> </a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                        <!-- /.action -->#}
{#                                    </div>#}
{#                                    <!-- /.cart -->#}
{#                                </div>#}
{#                                <!-- /.product -->#}
{##}
{#                            </div>#}
{#                            <!-- /.products -->#}
{#                        </div>#}
{#                        <!-- /.item -->#}
{##}
{#                        <div class="item item-carousel">#}
{#                            <div class="products">#}
{#                                <div class="product">#}
{#                                    <div class="product-image">#}
{#                                        <div class="image"><a href="detail.html"><img#}
{#                                                src="{% static 'assets/images/products/p10.jpg' %}"#}
{#                                                alt=""></a></div>#}
{#                                        <!-- /.image -->#}
{##}
{#                                        <div class="tag hot"><span>hot</span></div>#}
{#                                    </div>#}
{#                                    <!-- /.product-image -->#}
{##}
{#                                    <div class="product-info text-left">#}
{#                                        <h3 class="name"><a href="detail.html">Floral Print#}
{#                                            Buttoned</a></h3>#}
{#                                        <div class="rating rateit-small"></div>#}
{#                                        <div class="description"></div>#}
{#                                        <div class="product-price"><span#}
{#                                                class="price"> $450.99 </span> <span#}
{#                                                class="price-before-discount">$ 800</span></div>#}
{#                                        <!-- /.product-price -->#}
{##}
{#                                    </div>#}
{#                                    <!-- /.product-info -->#}
{#                                    <div class="cart clearfix animate-effect">#}
{#                                        <div class="action">#}
{#                                            <ul class="list-unstyled">#}
{#                                                <li class="add-cart-button btn-group">#}
{#                                                    <button class="btn btn-primary icon"#}
{#                                                            data-toggle="dropdown"#}
{#                                                            type="button"><i#}
{#                                                            class="fa fa-shopping-cart"></i>#}
{#                                                    </button>#}
{#                                                    <button class="btn btn-primary cart-btn"#}
{#                                                            type="button">В корзину#}
{#                                                    </button>#}
{#                                                </li>#}
{#                                                <li class="lnk wishlist"><a class="add-to-cart"#}
{#                                                                            href="detail.html"#}
{#                                                                            title="Wishlist"> <i#}
{#                                                        class="icon fa fa-heart"></i> </a></li>#}
{#                                                <li class="lnk"><a class="add-to-cart"#}
{#                                                                   href="detail.html"#}
{#                                                                   title="Compare"> <i#}
{#                                                        class="fa fa-signal"#}
{#                                                        aria-hidden="true"></i> </a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                        <!-- /.action -->#}
{#                                    </div>#}
{#                                    <!-- /.cart -->#}
{#                                </div>#}
{#                                <!-- /.product -->#}
{##}
{#                            </div>#}
{#                            <!-- /.products -->#}
{#                        </div>#}
{#                        <!-- /.item -->#}
                    </div>
                    <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="laptop">
                <div class="product-slider">
                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p11.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag new"><span>new</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p12.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag new"><span>new</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p13.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag sale"><span>sale</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p14.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag hot"><span>hot</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p15.jpg' %}"
                                                alt="image"></a></div>
                                        <!-- /.image -->

                                        <div class="tag hot"><span>hot</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p16.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag sale"><span>sale</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Apple Iphone 5s
                                            32GB</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->
                    </div>
                    <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="apple">
                <div class="product-slider">
                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p18.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag sale"><span>sale</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p18.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag hot"><span>hot</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p17.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag sale"><span>sale</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p16.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag new"><span>new</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p13.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag new"><span>new</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print
                                            Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->

                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                src="{% static 'assets/images/products/p14.jpg' %}"
                                                alt=""></a></div>
                                        <!-- /.image -->

                                        <div class="tag hot"><span>hot</span></div>
                                    </div>
                                    <!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Samsung Galaxy
                                            S4</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span
                                                class="price"> $450.99 </span> <span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->

                                    </div>
                                    <!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group">
                                                    <button class="btn btn-primary icon"
                                                            data-toggle="dropdown"
                                                            type="button"><i
                                                            class="fa fa-shopping-cart"></i>
                                                    </button>
                                                    <button class="btn btn-primary cart-btn"
                                                            type="button">В корзину
                                                    </button>
                                                </li>
                                                <li class="lnk wishlist"><a class="add-to-cart"
                                                                            href="detail.html"
                                                                            title="Wishlist"> <i
                                                        class="icon fa fa-heart"></i> </a></li>
                                                <li class="lnk"><a class="add-to-cart"
                                                                   href="detail.html"
                                                                   title="Compare"> <i
                                                        class="fa fa-signal"
                                                        aria-hidden="true"></i> </a></li>
                                            </ul>
                                        </div>
                                        <!-- /.action -->
                                    </div>
                                    <!-- /.cart -->
                                </div>
                                <!-- /.product -->

                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.item -->
                    </div>
                    <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

        </div>
        <!-- /.tab-content -->
    </div>
</div>