{% load static %}
<div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs animated" style="visibility: visible; animation-name: fadeInUp;">
    <h3 class="section-title">Акция дня</h3>
    <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss" style="opacity: 1; display: block;">

        <div class="owl-wrapper-outer">
            <div class="owl-wrapper" style="width: 1338px; left: 0px; display: block;">
                <div class="owl-item" style="width: 223px;">
                    <div class="item">
                        <div class="products">
                            <div class="hot-deal-wrapper">
                                <div class="image">
                                    <img src="{% static 'assets/images/hot-deals/p25.jpg' %}" alt="">
                                </div>
                                <div class="sale-offer-tag"><span>49%<br>off</span></div>
                                <div class="timing-wrapper">
                                    <div class="box-wrapper">
                                        <div class="date box">
                                            <span class="key">120</span>
                                            <span class="value">DAYS</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper">
                                        <div class="hour box">
                                            <span class="key">20</span>
                                            <span class="value">HRS</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper">
                                        <div class="minutes box">
                                            <span class="key">36</span>
                                            <span class="value">MINS</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper hidden-md">
                                        <div class="seconds box">
                                            <span class="key">60</span>
                                            <span class="value">SEC</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hot-deal-wrapper -->

                            <div class="product-info text-left m-t-20">
                                <h3 class="name"><a href="detail.html">Floral Print
                                    Buttoned</a></h3>
                                <div class="rating rateit-small rateit">
                                    <button id="rateit-reset-2" data-role="none"
                                            class="rateit-reset" aria-label="reset rating"
                                            aria-controls="rateit-range-2"
                                            style="display: none;"></button>
                                    <div id="rateit-range-2" class="rateit-range"
                                         tabindex="0" role="slider" aria-label="rating"
                                         aria-owns="rateit-reset-2" aria-valuemin="0"
                                         aria-valuemax="5" aria-valuenow="4"
                                         aria-readonly="true"
                                         style="width: 70px; height: 14px;">
                                        <div class="rateit-selected"
                                             style="height: 14px; width: 56px;"></div>
                                        <div class="rateit-hover" style="height:14px"></div>
                                    </div>
                                </div>

                                <div class="product-price">
								<span class="price">
									$600.00
								</span>

                                    <span class="price-before-discount">$800.00</span>

                                </div><!-- /.product-price -->

                            </div><!-- /.product-info -->

                            <div class="cart clearfix animate-effect">
                                <div class="action">

                                    <div class="add-cart-button btn-group">
                                        <button class="btn btn-primary icon"
                                                data-toggle="dropdown" type="button">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        <button class="btn btn-primary cart-btn"
                                                type="button">В корзину
                                        </button>

                                    </div>

                                </div><!-- /.action -->
                            </div><!-- /.cart -->
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 223px;">
                    <div class="item">
                        <div class="products">
                            <div class="hot-deal-wrapper">
                                <div class="image">
                                    <img src="{% static 'assets/images/hot-deals/p5.jpg' %}"
                                         alt="">
                                </div>
                                <div class="sale-offer-tag"><span>35%<br>off</span></div>
                                <div class="timing-wrapper">
                                    <div class="box-wrapper">
                                        <div class="date box">
                                            <span class="key">120</span>
                                            <span class="value">Days</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper">
                                        <div class="hour box">
                                            <span class="key">20</span>
                                            <span class="value">HRS</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper">
                                        <div class="minutes box">
                                            <span class="key">36</span>
                                            <span class="value">MINS</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper hidden-md">
                                        <div class="seconds box">
                                            <span class="key">60</span>
                                            <span class="value">SEC</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hot-deal-wrapper -->

                            <div class="product-info text-left m-t-20">
                                <h3 class="name"><a href="detail.html">Floral Print
                                    Buttoned</a></h3>
                                <div class="rating rateit-small rateit">
                                    <button id="rateit-reset-3" data-role="none"
                                            class="rateit-reset" aria-label="reset rating"
                                            aria-controls="rateit-range-3"
                                            style="display: none;"></button>
                                    <div id="rateit-range-3" class="rateit-range"
                                         tabindex="0" role="slider" aria-label="rating"
                                         aria-owns="rateit-reset-3" aria-valuemin="0"
                                         aria-valuemax="5" aria-valuenow="4"
                                         aria-readonly="true"
                                         style="width: 70px; height: 14px;">
                                        <div class="rateit-selected"
                                             style="height: 14px; width: 56px;"></div>
                                        <div class="rateit-hover" style="height:14px"></div>
                                    </div>
                                </div>

                                <div class="product-price">
								<span class="price">
									$600.00
								</span>

                                    <span class="price-before-discount">$800.00</span>

                                </div><!-- /.product-price -->

                            </div><!-- /.product-info -->

                            <div class="cart clearfix animate-effect">
                                <div class="action">

                                    <div class="add-cart-button btn-group">
                                        <button class="btn btn-primary icon"
                                                data-toggle="dropdown" type="button">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        <button class="btn btn-primary cart-btn"
                                                type="button">В корзину
                                        </button>

                                    </div>

                                </div><!-- /.action -->
                            </div><!-- /.cart -->
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 223px;">
                    <div class="item">
                        <div class="products">
                            <div class="hot-deal-wrapper">
                                <div class="image">
                                    <img src="{% static 'assets/images/hot-deals/p10.jpg' %}"
                                         alt="">
                                </div>
                                <div class="sale-offer-tag"><span>35%<br>off</span></div>
                                <div class="timing-wrapper">
                                    <div class="box-wrapper">
                                        <div class="date box">
                                            <span class="key">120</span>
                                            <span class="value">Days</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper">
                                        <div class="hour box">
                                            <span class="key">20</span>
                                            <span class="value">HRS</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper">
                                        <div class="minutes box">
                                            <span class="key">36</span>
                                            <span class="value">MINS</span>
                                        </div>
                                    </div>

                                    <div class="box-wrapper hidden-md">
                                        <div class="seconds box">
                                            <span class="key">60</span>
                                            <span class="value">SEC</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hot-deal-wrapper -->

                            <div class="product-info text-left m-t-20">
                                <h3 class="name"><a href="detail.html">Floral Print
                                    Buttoned</a></h3>
                                <div class="rating rateit-small rateit">
                                    <button id="rateit-reset-4" data-role="none"
                                            class="rateit-reset" aria-label="reset rating"
                                            aria-controls="rateit-range-4"
                                            style="display: none;"></button>
                                    <div id="rateit-range-4" class="rateit-range"
                                         tabindex="0" role="slider" aria-label="rating"
                                         aria-owns="rateit-reset-4" aria-valuemin="0"
                                         aria-valuemax="5" aria-valuenow="4"
                                         aria-readonly="true"
                                         style="width: 70px; height: 14px;">
                                        <div class="rateit-selected"
                                             style="height: 14px; width: 56px;"></div>
                                        <div class="rateit-hover" style="height:14px"></div>
                                    </div>
                                </div>

                                <div class="product-price">
								<span class="price">
									$600.00
								</span>

                                    <span class="price-before-discount">$800.00</span>

                                </div><!-- /.product-price -->

                            </div><!-- /.product-info -->

                            <div class="cart clearfix animate-effect">
                                <div class="action">

                                    <div class="add-cart-button btn-group">
                                        <button class="btn btn-primary icon"
                                                data-toggle="dropdown" type="button">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        <button class="btn btn-primary cart-btn"
                                                type="button">В корзину
                                        </button>

                                    </div>

                                </div><!-- /.action -->
                            </div><!-- /.cart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="owl-controls clickable">
            <div class="owl-buttons">
                <div class="owl-prev"></div>
                <div class="owl-next"></div>
            </div>
        </div>
    </div><!-- /.sidebar-widget -->
</div>