{% extends 'html/base/base.html' %}
{% load static %}
{% block title %}
Авторизация / регистрация
{% endblock %}
{% block body %}
<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="{% url 'cosmetic:home_page' %}">Home</a></li>
                <li class='active'>Login</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
    <div class="container">
        <div class="sign-in-page">
            <div class="row">
                <!-- Sign-in -->
                <div class="col-md-6 col-sm-6 sign-in">
                    <h4 class="">Войти на сайт</h4>
                    <p class="">Авторизация</p>
                    <div class="social-sign-in outer-top-xs">
                        <a href="#" class="facebook-sign-in"><i class="fa fa-facebook"></i> Войти через Facebook</a>
                        <a href="#" class="twitter-sign-in"><i class="fa fa-twitter"></i> Войти через Twitter</a>
                        <a href="/login/vk-oauth2"><img src="/static/lvk.png" class="avatar-3" data-toggle="tooltip" title="'Login via VKontakte'"></a>
                    </div>
                    {{ error }}
                    {{ successfully }}
                    <form class="register-form outer-top-xs" role="form" method="post" action="?submit=login">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail1">Email<span>*</span></label>
                            <input type="email" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputEmail1" name="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputPassword1">Пароль <span>*</span></label>
                            <input type="password" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputPassword1" name="exampleInputPassword1">
                        </div>
                        <div class="radio outer-xs">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Запомнить меня!
                            </label>
                            <a href="#" class="forgot-password pull-right">Забыли пароль?</a>
                        </div>
                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Войти</button>
                    </form>
                </div>
                <!-- Sign-in -->

                <!-- create a new account -->
                <div class="col-md-6 col-sm-6 create-new-account">
                    <h4 class="checkout-subtitle">Регистрация нового аккаунта</h4>
                    <p class="text title-tag-line">Создание нового аккаунта</p>
                    <div style="padding-top: 20px;">
                        {% if register_error %}
                            <ul>
                                {% for error in register_error %}
                                    <li style="color: red;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <form class="register-form outer-top-xs" role="form" method="post" action="?submit=register">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="info-title" for="exampleInputName">Имя <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputName" name="exampleInputName" required
                                    {% if user_form.exampleInputName.value %}
                                        value="{{ user_form.exampleInputName.value }}"
                                    {% endif %}>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputLastName">Фамилия <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputLastName" name="exampleInputLastName" required
                                    {% if user_form.exampleInputLastName.value %}
                                        value="{{ user_form.exampleInputLastName.value }}"
                                    {% endif %}>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputMiddleName">Отчество <span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputMiddleName" name="exampleInputMiddleName" required
                                    {% if user_form.exampleInputMiddleName.value %}
                                        value="{{ user_form.exampleInputMiddleName.value }}"
                                    {% endif %}>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputPhone">Номер телефона<span>*</span></label>
                            <input type="text" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputPhone" name="exampleInputPhone" required
                                    {% if user_form.exampleInputPhone.value %}
                                        value="{{ user_form.exampleInputPhone.value }}"
                                    {% endif %}>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail">Email<span>*</span></label>
                            <input type="email" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputEmail" name="exampleInputEmail" required
                                    {% if user_form.exampleInputEmail.value %}
                                        value="{{ user_form.exampleInputEmail.value }}"
                                    {% endif %}>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputPassword1">Пароль<span>*</span></label>
                            <input type="password" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputPassword1" name="exampleInputPassword1" required>
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputPassword2">Пароль еще раз <span>*</span></label>
                            <input type="password" class="form-control unicase-form-control text-input"
                                   id="id_exampleInputPassword2" name="exampleInputPassword2" required>
                        </div>
                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Зарегистрироваться</button>
                    </form>


                </div>
                <!-- create a new account -->            </div><!-- /.row -->
        </div><!-- /.sigin-in-->
    </div><!-- /.container -->
</div><!-- /.body-content -->


<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>

<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/bootstrap-hover-dropdown.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'assets/js/echo.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing-1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.rateit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/lightbox.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>

<!-- For demo purposes – can be removed on production -->

{#<script src="{% static 'switchstylesheet/switchstylesheet.js' %}"></script>#}

<script>
    $(document).ready(function () {
        $(".changecolor").switchstylesheet({seperator: "color"});
        $('.show-theme-options').click(function () {
            $(this).parent().toggleClass('open');
            return false;
        });
    });

    $(window).bind("load", function () {
        $('.show-theme-options').delay(2000).trigger('click');
    });
</script>
<!-- For demo purposes – can be removed on production : End -->

{% endblock %}